.cart{
    margin-bottom: 20px;
    img{
        height: 250px;
        width: auto;
        object-fit: contain;
        margin: 0 auto;
        display: block;
    }
}
.total{
    margin-bottom: 55px;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    h3{}
    p{
        color: orangered;
    }
    button{
        padding: 7px 50px;
        background-color: rgb(95, 155, 216);
        color: white;
        border: none;
        border-radius: 20px;
    }
}